*{
    margin: 0;
    padding: 0;
}

form{
    border: 2px solid black;
    margin: auto;
    width: 40%;
    text-align: center;
}

.forms-input{
    
margin: 5px;
padding: 10x;
}

.forms-input input{
    width: 40%;
    /* border: 2px solid red; */
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
}

.gender-box{
display: inline-block;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

small{
color: red;
font-weight: bold;
}

.addresses{
    border: 2px solid black;
    width: 60%;
    margin: auto;
    border-radius: 12px;
}

.skills-tab{
    border: 2px solid yellow ;
}
.skills-tab input{
    width: 40%;
    padding: 12px;
    margin-top: 5px;
}

.skills-tab button{
    margin: 5px;
    width: 40%;
    padding: 10px;
    background-color: aqua;
    border-radius: 12px;
    color: white;
    font-weight: 20px;
}

.experience-forms{
    border: 2px solid pink;
    margin: 15px;
}

.experience-forms input{
    width: 50%;
    padding: 10px;
}

.experience-box{
    border: 1px solid red;
    margin: 5px;
}

button{

    padding: 5px;
    border-radius: 12px;
    background-color: rgb(209, 72, 72);
    color: white;
}